<div class="container-fluid" style="overflow-y: hidden;">

  <!-- <div class="row justify-content-center align-items-center"> -->
  <div class="row justify-content-center ">
    <div class="col col-lg-7 ">

      <img src="assets/honeywell-fs.png" class="img-fluid " alt="No image found">
    </div>
    <div class="col col-lg-5">
      <div class="row">
        <div class="col-lg-12">
          <!-- <h1 class=" large-text ">Honeywell </h1> -->
          <img src="assets/honeywell-text.png" class="img-fluid  image" alt="No image found">
        </div>
        <div class="col-lg-12">
          <h3 class="text-center welcome">Welcome Back</h3>
        </div>
        <div class="col-lg-12">
          <h6 class="align-items-center small-text">Enter your email and password to signin</h6>
        </div>
      </div>
      <!-- <h1 class=" large-text mb-3">Honeywell </h1>
        <h3 class="mb-2 text-center">Welcome Back</h3>
        <h6 class="mb-2 align-items-center small-text">Enter your email and password to signin</h6> -->
      <form [formGroup]="loginForm" class="login-form" (ngSubmit)="onSubmit()">

        <div class=" form-group">
          <label for="username" class="form-label mt-1 ">Username:</label>
          <input type="text" class="form-control custom-width  input-group-lg" id="username" formControlName="username"
            placeholder="your username">
          <div
            *ngIf="loginForm.get('username')?.invalid && (loginForm.get('username')?.dirty || loginForm.get('username')?.touched)"
            class="alert alert-danger">
            <span *ngIf="loginForm.get('username')?.errors?.['required']">
              Username is required.
            </span>
          </div>
        </div>
        <div class=" form-group mb-3">
          <label for="password" class="form-label">Password:</label>
          <input type="password" class="form-control custom-width" id="password" formControlName="password"
            placeholder="your password">
          <div
            *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('username')?.touched)"
            class="alert alert-danger">
            <span *ngIf="loginForm.get('password')?.errors?.['required']">password is required.</span>
          </div>
        </div>
        <button type="submit" class="btn btn-primary mt-2">Login</button>
        <p class="text-center signup ">Don't have an account? Sign up</p>
      </form>
    </div>
  </div>
</div>