// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@import "~bootstrap-icons/font/bootstrap-icons.css";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
//@import './src/theme.scss';

@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$fis-honeywell-primary: mat.define-palette(mat.$indigo-palette);
$fis-honeywell-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$fis-honeywell-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$fis-honeywell-theme: mat.define-dark-theme((color: (primary: $fis-honeywell-primary,
        accent: $fis-honeywell-accent,
        warn: $fis-honeywell-warn,
      )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($fis-honeywell-theme);

/* You can add global styles to this file, and also import other style files */


html, body {
  margin: 0;
  font-family: 'Arial Rounded MT Bold', sans-serif;
  min-height: 100vh;
  color: #e2e2e2;
  background-color: #212121;
  //overflow-y: hidden;
}

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);

.bg-darkgrey {
  background-color: #303030;
}

.c-red {
  color: #EE3124;
}

.c-blue {
  color: #0071B3;
}

.c-white {
  color: #ededed;
}