<div class="container-fluid ">
  <div class="row">
      <nav class="navbar navbar-dark ">
          <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button> -->
          <i class="bi bi-list large-icon " style="font-size: 2.3rem;"></i>
          <img src="assets/honeywell.png" alt="no honeywell image" class="image">
          <span class="example-spacer"></span>
         
          <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" (click)="highlightIcon('bell')">
              <i id="bellIcon" class="bi bi-bell-fill" [ngClass]="{'highlighted-icon': highlightedIcon === 'bell'}"></i>
            </button>
            <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" (click)="highlightIcon('chat')">
              <i id="chatIcon" class="bi bi-chat-square" [ngClass]="{'highlighted-icon': highlightedIcon === 'chat'}"></i>
            </button>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" (click)="highlightIcon('info')">
              <i id="infoIcon" class="bi bi-info-circle" [ngClass]="{'highlighted-icon': highlightedIcon === 'info'}"></i>
            </button>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" (click)="highlightIcon('person')">
              <i id="personIcon" class="bi bi-person-circle" [ngClass]="{'highlighted-icon': highlightedIcon === 'person'}"></i>
            </button>
            
          <span id="userName">John</span>
        </nav>
        
    </div>
  </div>