.example-spacer {
  flex: 1 1 auto;
}
.navbar-toggler-icon {
  color: #ffffff; /* Change color to white */
}
.image{
  height: 20px;
  margin-left: 20px;
}
.highlighted-icon {
  color: orangered; // Change the color to whatever highlight color you desire
}